<app-header [showBackButton]="true" title="Productos"></app-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Marca</ion-label>
      <ion-select placeholder="Segmentar por marca" interface="popover" (ionChange)="changeMarca($event)" [(ngModel)]="marcaForm">
        <ion-select-option [value]="''">Todas las marcas</ion-select-option>
        <ion-select-option [value]="marca" *ngFor="let marca of marcas">{{ marca }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngFor="let product of products" detail="true"
      [routerLink]="['/commerces-by-products', 'product', product._id]">
      <ion-avatar slot="start">
        <img [src]="product.image" />
      </ion-avatar>
      <ion-label>
        <h2>{{ product.name }}</h2>
        <h3>{{ product.content }}</h3>
        <p>{{ product.description }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
