<app-header [showBackButton]="true" title="Producto"></app-header>
<ion-content>
  <ion-grid style="background: #1F2228;" class="ion-padding-vertical">
    <ion-row class="ion-align-items-center ">
      <ion-col size="5">
        <img [src]="product.image" />
      </ion-col>
      <ion-col size="7">
        <ion-card-title color="light">{{ product.name }}</ion-card-title>
        <ion-card-subtitle>{{ product.content }}</ion-card-subtitle>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-text color="primary" class="ion-text-center ion-margin-top">
    <h1>Establecimientos</h1>
  </ion-text>
  <ion-list>
    <ion-item *ngFor="let commerceByProduct of commercesByProduct" detail [routerLink]="['/commerce-product-detail', commerceByProduct._id]">
      <ion-avatar slot="start">
        <img [src]="commerceByProduct.commerce.image">
      </ion-avatar>
      <ion-label>
        <h2><b>{{ commerceByProduct.commerce.name }}</b></h2>
        <h3><b>$ {{ commerceByProduct.price | number: '0.0-2' }}</b></h3>
        <p>{{ commerceByProduct.commerce.address }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
