<ion-content [fullscreen]="true">
  <ion-grid class="ion-padding-vertical">
    <ion-row class="ion-justify-content-center ion-padding-vertical">
      <ion-col size="8" class="ion-padding-center">
        <img src="./assets/images/logo-milicor.svg" class="ion-padding-vertical">
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-vertical">
      <ion-col size="12" class="ion-padding-vertical ">
        <img src="./assets/images/banner.png">
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-item>
      <ion-checkbox slot="start" [(ngModel)]="isAdult"></ion-checkbox>
      <ion-label>Soy Mayor de 18 años</ion-label>
    </ion-item>
  </ion-list>
  <ion-button [disabled]="!isAdult" (click)="goToCategories()" class="ion-margin-vertical" expand="block" color="primary">
    Ver Categorías
  </ion-button>

</ion-content>
