<app-header [showBackButton]="true" title="Detalle del producto"></app-header>
<ion-content *ngIf="commerceProduct">
  <ion-grid>
    <ion-row class="ion-align-items-center ion-padding-vertical">
      <ion-col size="5">
        <img [src]="commerceProduct.product.image" alt="">
      </ion-col>
      <ion-col size="7">
        <ion-card-title>{{ commerceProduct.product.name}}</ion-card-title>
        <ion-card-subtitle>{{ commerceProduct.product.content }}</ion-card-subtitle>
        <ion-card-title class="ion-padding-vertical"><b>$&nbsp;{{ commerceProduct.price | number: '0.0-2'}}</b></ion-card-title>
        <ion-grid>
          <ion-row>
            <ion-col size="12" size-md="6">
              <ion-button color="primary" expand="block" (click)="buyProduct('call')">
                <ion-icon name="wallet-outline" slot="start"></ion-icon>
                Comprar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card color="light" class="ion-margin-top">
    <ion-card-content>
      <ion-text color="secondary">
        <h2><b>Descripción</b></h2>
        <p class="ion-text-justify ion-padding-top">{{ commerceProduct.product.description }}</p>
      </ion-text>
    </ion-card-content>
  </ion-card>
  <ion-text color="primary" class="ion-text-center ion-margin-top">
    <h1>Establecimiento</h1>
  </ion-text>
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size="6">
        <img [src]="commerceProduct.commerce.image">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-text color="secondary" class="ion-text-center">
          <h3>{{ commerceProduct.commerce.name }}</h3>
          <p>{{ commerceProduct.commerce.address }}</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ng-container *ngIf="variantsProducts.length">
    <ion-text color="primary" class="ion-text-center ion-margin-top">
      <h2>Recomendados</h2>
    </ion-text>
    <ion-slides pager="true" [options]="slideOpts" [pager]="false">
      <ion-slide *ngFor="let product of variantsProducts" >
        <ion-card [routerLink]="['/commerces-by-products', 'product', product._id]">
          <img [src]="product.image" />
          <ion-card-header>
            <ion-card-title><b>{{ product.name }}</b></ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ng-container>
</ion-content>
