<app-header [showBackButton]="true" title="Detalle del producto"></app-header>
<ion-content *ngIf="commerceProduct">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-grid>
          <ion-row class="ion-align-items-center ion-padding-vertical">
            <ion-col size="5">
                <img [src]="commerceProduct.product.image" alt="">
            </ion-col>
            <ion-col size="7">
              <h1 class="ion-text-center"><b>$&nbsp;{{ commerceProduct.price | number: '0.0-2'}}</b></h1>
              <ion-button color="primary" expand="block" (click)="buyProduct('call')">
                <ion-icon name="wallet-outline" slot="start"></ion-icon>
                Comprar
              </ion-button>
              <ion-card-title class="ion-padding-vertical"></ion-card-title>
              <ion-list>
                <ion-item>
                  <ion-avatar slot="start">
                    <img [src]="commerceProduct.commerce.image" />
                  </ion-avatar>
                  <ion-label><b>{{ commerceProduct.commerce.name }}</b></ion-label>
                </ion-item>
                <ion-item *ngFor="let data of (commerceProduct.data | jsonArray)">
                  <ion-label><b>{{ data.index }}:&nbsp;</b>{{ data.value }}</ion-label>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-card color="light" class="ion-margin-top">
          <ion-card-content>
            <ion-text color="secondary">
              <h2><b>{{ commerceProduct.product.name}}</b></h2>
              <p class="ion-text-justify ion-padding-top">{{ commerceProduct.product.description }}</p>
            </ion-text>
          </ion-card-content>
        </ion-card>
        <!-- <ng-container *ngIf="variantsProducts.length">
          <ion-text color="primary" class="ion-text-center ion-margin-top">
            <h2>Recomendados</h2>
          </ion-text>
          <ion-slides pager="true" [options]="slideOpts" [pager]="false">
            <ion-slide *ngFor="let product of variantsProducts" >
              <ion-card [routerLink]="['/commerces-by-products', 'product', product._id]">
                <img [src]="product.image" />
                <ion-card-header>
                  <ion-card-title><b>{{ product.name }}</b></ion-card-title>
                </ion-card-header>
              </ion-card>
            </ion-slide>
          </ion-slides>
        </ng-container> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
